<ion-popover-view>
    <ion-content>
        <div class="list">
            <label class="item item-input" ng-click="addToFavorites(dish.id)">
                <div class="input-label">
                    Add To Favorites
                </div>
            </label>
            <label class="item item-input" ng-click="addCommentModal()">
                <div class="input-label">
                    Add A Comment
                </div>
            </label>
        </div>
    </ion-content>
</ion-popover-view>